@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;700&display=swap');

/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

/* Container geral */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* NavBar */

.f{
    color: #5ce1e6;
}

nav {
    position: fixed;
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

nav.scrolled {
    background-color: #202020;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a.logo {
    color: white;
    font-size: 1.8em;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Ícone de Hamburguer */
.hamburger {
    display: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.bi-chevron-down{
    font-size: 40px;
}

/* Estilo do Header/Landing Page */
#landing-page {
    background: #333;
    color: white;
    text-align: center;
    padding: 190px 0;
    padding-bottom: 60px;
}

#landing-page h1 {
    font-size: 3em;
}

#landing-page p {
    font-size: 1.2em;
    margin-top: 10px;
}

#landing-page .btn {
    display: inline-block;
    background-color: #5ce1e6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

#landing-page .btn:hover {
    background-color: #4ea8ac;
}

/* Carrossel Tecnologias */
.infinite-scroll{
    margin-top: 150px;
    background-color: #333;
}

.item {
    width: 200px;
    height: 100px;
    background-color: #f4f4f4;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.item i {
    font-size: 40px;
    color: #5ce1e6;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
}

.carousel-track {
    display: flex;
    gap: 50px;
    animation: scroll 20s linear infinite;
    align-items: center;
    width: 100%;
}

.carousel-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: transform 0.3s;
}

.carousel-item img:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.dot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}

.dot2 {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}

.btn:hover {
    background: #46aaad;
}

.arrow{
    padding-top: 10px;
    margin-top: 210px;
}


/* Seção Sobre */
#sobre {
    padding-top: 100px;
    align-items: center;
}

#sobre .container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-left: 200px;
    padding-right: 200px;
}

#sobre .foto {
    flex: 1;
    text-align: center;
}

#sobre .foto img {
    width: 400px;
    height: 310px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sobre .conteudo {
    flex: 4;
    text-align: center;
}

#sobre h2 {
    font-size: 2rem;
    text-align: center;
}

#sobre .text-sobre {
    text-align: center;
}

.conteudo p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

#sobre .metricas {
    display: flex;
    gap: 2rem;
    margin: 1.5rem 0;
    justify-content: center;
}

#sobre .metricas .card-metrica {
    flex: 1;
    text-align: center; 
}

#sobre .metricas .card-metrica h3 {
    font-size: 1.8rem;
    color: #4ab7bb;
}

#sobre .metricas .card-metrica p {
    font-size: 0.9rem;
    color: #555;
}

.botao-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem; 
}

#sobre .botao-cv {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background: #5ce1e6;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.5s ease;
}

#sobre .botao-cv:hover {
    background: #46aaad;
}

@media screen and (max-width: 1244px) {
    #sobre .foto img {
        width: 200px;
        height: 200px;
    }
}


@media screen and (max-width: 1022px) {
    #sobre .foto img {
        width: 200px;
        height: 200px;
    }

    #sobre .conteudo p{
        padding-left: 23px;
        padding-right: 23px;
    }
    
    #sobre .container {
        flex-direction: column;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
    }

    #sobre .foto {
        margin-bottom: 2rem;
    }

    #sobre .conteudo {
        flex: 1;
        text-align: center;
    }

    #sobre h2 {
        font-size: 1.6rem;
    }

    #sobre .text-sobre {
        font-size: 13px;
    }

    .conteudo p {
        font-size: 0.9rem;
    }

    #sobre .metricas {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 1rem;
        margin: 1.5rem 0;
    }

    #sobre .metricas .card-metrica {
        text-align: center; 
    }

    #sobre .metricas .card-metrica h3 {
        font-size: 1.5rem;
    }

    #sobre .metricas .card-metrica p {
        font-size: 0.8rem;
    }

    #sobre .botao-cv {
        padding: 1rem 2rem; /* Ajusta o tamanho do botão */
    }
}

/* Seção Habilidades */
#habilidades {
    padding: 20px;
    padding-top: 140px;
    background-color: #ffffff;
}

#habilidades .container {
    max-width: 600px;
    margin: 0 auto;
}

#habilidades h2 {
    text-align: center;
    font-size: 2rem;
}

#habilidades .text-habilidades {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

#habilidades .minimun{
    font-size: 13px;
    font-weight: normal;
}

#habilidades details {
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

#habilidades summary {
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

#habilidades details ul {
    padding-left: 20px;
    margin-top: 10px;
}

#habilidades details li {
    list-style-type: none;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

#habilidades details li:last-child {
    border-bottom: none;
}


/* Seção Projetos */
#projetos {
    padding: 50px 0;
    background: #fff;
    text-align: center;
}

#projetos .project-card {
    background: #e4e4e4;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

#projetos img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Seção Contato */
#contato {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

#contato h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#contato form {
    max-width: 600px;
    margin: 0 auto;
}

#contato input, #contato textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contato button {
    background-color: #009688;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#contato button:hover {
    background-color: #00796b;
}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}


/* CSS do Carrossel Scroll Infinite */
.wrapper {
    width: 400%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
to {
    left: -200px;
}
}

.item {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 6px;
    position: absolute;
    left: 100%;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 21 * (21 - 1) * -1);
}
  
.item2 {
    animation-delay: calc(30s / 21 * (21 - 2) * -1);
}
  
.item3 {
    animation-delay: calc(30s / 21 * (21 - 3) * -1);
}
  
.item4 {
    animation-delay: calc(30s / 21 * (21 - 4) * -1);
}
  
.item5 {
    animation-delay: calc(30s / 21 * (21 - 5) * -1);
}
  
.item6 {
    animation-delay: calc(30s / 21 * (21 - 6) * -1);
}
  
.item7 {
    animation-delay: calc(30s / 21 * (21 - 7) * -1);
}
  
.item8 {
    animation-delay: calc(30s / 21 * (21 - 8) * -1);
}
  
.item9 {
    animation-delay: calc(30s / 21 * (21 - 9) * -1);
}
  
.item10 {
    animation-delay: calc(30s / 21 * (21 - 10) * -1);
}
  
.item11 {
    animation-delay: calc(30s / 21 * (21 - 11) * -1);
}
  
.item12 {
    animation-delay: calc(30s / 21 * (21 - 12) * -1);
}
  
.item13 {
    animation-delay: calc(30s / 21 * (21 - 13) * -1);
}
  
.item14 {
    animation-delay: calc(30s / 21 * (21 - 14) * -1);
}
  
.item15 {
    animation-delay: calc(30s / 21 * (21 - 15) * -1);
}
  
.item16 {
    animation-delay: calc(30s / 21 * (21 - 16) * -1);
}
  
.item17 {
    animation-delay: calc(30s / 21 * (21 - 17) * -1);
}
  
.item18 {
    animation-delay: calc(30s / 21 * (21 - 18) * -1);
}
  
.item19 {
    animation-delay: calc(30s / 21 * (21 - 19) * -1);
}
  
.item20 {
    animation-delay: calc(30s / 21 * (21 - 20) * -1);
}
  
.item21 {
    animation-delay: calc(30s / 21 * (21 - 21) * -1);
}




/* Responsivo Menu */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right: 20px;
        background-color: #202020;
        padding: 10px;
        border-radius: 8px;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }
}