/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden;
}

/* Container geral */
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* NavBar */

.f{
    color: #5ce1e6;
}

nav {
    position: fixed;
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
}

nav.scrolled {
    background-color: #202020;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a.logo {
    color: white;
    font-size: 1.8em;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

/* Ícone de Hamburguer */
.hamburger {
    display: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

.bi-chevron-down{
    font-size: 40px;
}

/* Estilo do Header/Landing Page */
#landing-page {
    background: #333;
    color: white;
    text-align: center;
    padding: 190px 0;
    padding-bottom: 60px;
}

#landing-page h1 {
    font-size: 3em;
}

#landing-page p {
    font-size: 1.2em;
    margin-top: 10px;
}

#landing-page .btn {
    display: inline-block;
    background-color: #5ce1e6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

#landing-page .btn:hover {
    background-color: #4ea8ac;
}

/* Carrossel Tecnologias */
.infinite-scroll{
    margin-top: 150px;
    background-color: #333;
}

.item {
    width: 200px;
    height: 100px;
    background-color: #f4f4f4;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.item i {
    font-size: 34px;
    color: #5ce1e6;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    padding: 20px 0;
}

.carousel-track {
    display: flex;
    gap: 50px;
    animation: scroll 20s linear infinite;
    align-items: center;
    width: 100%;
}

.carousel-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: transform 0.3s;
}

.carousel-item img:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

/* Seção Sobre */
#sobre {
    background: #fff;
    padding: 100px 0;
    text-align: center;
}

#sobre h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#sobre p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

/* Seção Tecnologias */
#tecnologias {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

#tecnologias h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#tecnologias ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

#tecnologias li {
    margin: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tecnologias img {
    max-width: 60px;
}

/* Seção Projetos */
#projetos {
    padding: 50px 0;
    background: #fff;
    text-align: center;
}

#projetos .project-card {
    background: #e4e4e4;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

#projetos img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Seção Contato */
#contato {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

#contato h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#contato form {
    max-width: 600px;
    margin: 0 auto;
}

#contato input, #contato textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contato button {
    background-color: #009688;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#contato button:hover {
    background-color: #00796b;
}

/* Footer */
footer {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}


/* CSS do Carrossel Scroll Infinite */
.wrapper {
    width: 400%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
    );
}

@keyframes scrollLeft {
to {
    left: -200px;
}
}

.item {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 6px;
    position: absolute;
    left: 100%;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 24 * (24 - 1) * -1);
}
  
.item2 {
    animation-delay: calc(30s / 24 * (24 - 2) * -1);
}
  
.item3 {
    animation-delay: calc(30s / 24 * (24 - 3) * -1);
}
  
.item4 {
    animation-delay: calc(30s / 24 * (24 - 4) * -1);
}
  
.item5 {
    animation-delay: calc(30s / 24 * (24 - 5) * -1);
}
  
.item6 {
    animation-delay: calc(30s / 24 * (24 - 6) * -1);
}
  
.item7 {
    animation-delay: calc(30s / 24 * (24 - 7) * -1);
}
  
.item8 {
    animation-delay: calc(30s / 24 * (24 - 8) * -1);
}
  
.item9 {
    animation-delay: calc(30s / 24 * (24 - 9) * -1);
}
  
.item10 {
    animation-delay: calc(30s / 24 * (24 - 10) * -1);
}
  
.item11 {
    animation-delay: calc(30s / 24 * (24 - 11) * -1);
}
  
.item12 {
    animation-delay: calc(30s / 24 * (24 - 12) * -1);
}
  
.item13 {
    animation-delay: calc(30s / 24 * (24 - 13) * -1);
}
  
.item14 {
    animation-delay: calc(30s / 24 * (24 - 14) * -1);
}
  
.item15 {
    animation-delay: calc(30s / 24 * (24 - 15) * -1);
}
  
.item16 {
    animation-delay: calc(30s / 24 * (24 - 16) * -1);
}
  
.item17 {
    animation-delay: calc(30s / 24 * (24 - 17) * -1);
}
  
.item18 {
    animation-delay: calc(30s / 24 * (24 - 18) * -1);
}
  
.item19 {
    animation-delay: calc(30s / 24 * (24 - 19) * -1);
}
  
.item20 {
    animation-delay: calc(30s / 24 * (24 - 20) * -1);
}
  
.item21 {
    animation-delay: calc(30s / 24 * (24 - 21) * -1);
}
  
.item22 {
    animation-delay: calc(30s / 24 * (24 - 22) * -1);
}
  
.item23 {
    animation-delay: calc(30s / 24 * (24 - 23) * -1);
}
  
.item24 {
    animation-delay: calc(30s / 24 * (24 - 24) * -1);
}



/* Responsivo Menu */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right: 20px;
        background-color: #202020;
        padding: 10px;
        border-radius: 8px;
    }

    nav ul.active {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }
}